<div class="footer-index" ng-controller="IndexCtrl">
	<div class="row">
		<div class="video-index">
			<li id="video-text" ><a  href="#/index-video"><img id="video-link" src="/assets/video64.png" alt=""></a>Take a video</li>
		</div>
		<div class="picture-index">
			<li id="picture-text" ><a href="#/index-picture"><img id="picture-link"src="/assets/webcam64.png" alt=""></a>Take a picture</li>
		</div>

		<div class="text-index">
			<li id="text-text" ><a href='#/index-text'><img id="text-link" src="/assets/edit64.png" alt=""></a>Document it</li>
		</div>
		<div class="follow-index">
			<li id="follow-text" ><a href='#/index-follow'><img id="follow-link" src="/assets/hearts64.png" alt=""></a>Follow</li>
		</div>
		<div class="signup-index">
			<li id="signup-text" ><a href='#/signup'><img id="signup-link" src="/assets/adduser64.png" alt=""></a>Sign Up</li>
		</div>
	</div>
</div>