<div class="slide-animate ng-include" src="'../templates/nav.html'"></div>
<div class="container">
  <div class="row">
    <div class="small-8 small-centered medium-6 medium-center large-6 large-centered columns">
      <div ng-controller="PostCtrl">
        <div ng-init="getCurrentUser()">
          <h1>{{currentUser.username}}</h1>
          <img src="{{currentUser.photo}}" ng-model="currentUser.photo">
         <input placeholder="photo url" type="file" ng-file-select="onFileSelect($files)" ng-model="currentUser.photo">
          <button ng-click="updateUserPhoto(currentUser)">Submit Photo</button>
        </div>
        <div ng-init="getUserJourneys()">
          <h3>choose a journey:</h3>
        </div>
          <!-- we can change these buttons to icons or something -->
          <button class="create-post" id="journey_select"
            ng-repeat="journey in journeys"
            ng-click="displayJourney(journey)">
            {{journey.title}}
          </button>

        <div ng-show="currentJourney.id && !currentJourney.editable">
          <h4>{{currentJourney.title}}</h4>
          <span>{{currentJourney.start_date}}<br></span>
          <span>{{currentJourney.end_date}}<br></span>
          <button ng-show="!currentJourney.editable" ng-click="edit(currentJourney)">edit</button>
        </div>
        <div ng-show="currentJourney.id && currentJourney.editable">
          Title: <input type="text" ng-model="currentJourney.title"><br>
          Start Date: <input type="date" ng-model="currentJourney.start_date"><br>
          End Date: <input type="date" ng-model="currentJourney.end_date"><br>
          <button ng-show="currentJourney.editable" ng-click="updateJourney(currentJourney)">Update journey</button>
          <button ng-show="currentJourney.editable" ng-click="deleteJourney(currentJourney.id)">Delete journey</button>
          <button ng-show="currentJourney.editable" ng-click="cancelEdit(currentJourney)">cancel</button>
        </div>

        <button ng-click="renderIframes()">get videos</button>
        <!-- <div ng-show="currentJourney.id"> -->
          <ul ng-repeat="post in currentJourney.posts">
            <li>Type: {{post.post_type}}</li>
            <li>Title:
              <span ng-show="!post.editable">{{post.title}}</span>
              <input ng-show="post.editable" ng-model="post.title" type="text">
            </li>
            <!-- TEXT -->
            <li ng-show="post.post_type === 'text'">
              Body:
              <span ng-show="!post.editable">{{post.text}}</span>
              <textarea ng-show="post.editable" ng-model="post.text"></textarea>
            </li>
            <!-- VIDEO -->
            <li ng-show="post.post_type === 'video'">
              <div>
              <div ng-show="!post.editable">
                <div id="{{post.video}}"></div>
              </div>
              </div>
              <input ng-show="post.editable" ng-model="post.video" type="text">
            </li>
            <!-- PHOTO -->
            <li ng-show="post.post_type === 'photo'">
              Photo url:
              <div ng-show="!post.editable"><img src="{{post.photo}}"></div>
              <input ng-show="post.editable" ng-model="post.photo" type="text">
            </li>
            <li ng-show="post.post_type !== 'text'">
              Caption:
              <span ng-show="!post.editable">{{post.caption}}</span>
              <input ng-show="post.editable" ng-model="post.caption" type="text">
            </li>
            <li>
              <button ng-show="!post.editable" ng-click="edit(post)">
                edit this post
              </button>
              <button ng-show="post.editable"
                      ng-click="updatePost(currentJourney.id, post)">
                submit
              </button>
              <button ng-show="post.editable"
                      ng-click="deletePost(currentJourney.id, post)">
                delete
              </button>
              <button ng-show="post.editable" ng-click="cancelEdit(post)">
                cancel
              </button>
            </li>
            <li> ------ </li>
          </ul>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>

<!-- <div id="player"></div> -->
