<div class="slide-animate ng-include" src="'../templates/nav.html'"></div>
<div class="container-my-journeys">
  <div class="row">
    <!-- USER PROFILE HEADER  -->
    <div ng-controller="PostCtrl">
      <div class="user-profile">
        <div class="user-header" ng-init="getCurrentUser()">
          <img id="user-image"src="/assets/james.jpg" ng-model="currentUser.photo">
          <h1 class="user-name">{{currentUser.full_name}} </h1>
         <!-- <input placeholder="photo url" type="file" ng-file-select="onFileSelect($files)" ng-model="currentUser.photo">
          <button ng-click="updateUserPhoto(currentUser)">Submit Photo</button>  -->
          <div class="journeys-count">{{journeys_count}} <span id="journey-number">Journeys</span></div>
          <div class="profile-followers">{{followers_count}} <span id="follower-count">Followers</span></div>
        </div>
      </div>


      <div class="profile-links">
        <!-- fetch current_user.journeys array when this div loads -->
        <div ng-init="getUserJourneys()">
          <h3>My Novos</h3>
          <h3>Following</h3>
          <h3>Trending</h3>
          <h3>Everyone</h3>
          <h3>Categories</h3>
        </div>
        <div>
          <!-- display each journey in current_user.journeys as a button -->
          <!-- on click of given button, load posts for that journey -->
          <button class="create-post" id="journey_select"
            ng-repeat="journey in journeys"
            ng-init="getPosts(journey)"
            ng-click="setCurrentJourney(journey)">
            {{journey.title}}
          </button>
        </div>
      </div>


      <div class="journey-title">
        <div ng-show="currentJourney.id && !currentJourney.editable">
          <h4>{{currentJourney.title}}</h4>
         <!--  <span>Begin: {{currentJourney.start_date}}<br></span>
          <span>Ends: {{currentJourney.end_date}}<br></span> -->
          <button class='edit-button-profile' ng-show="!currentJourney.editable" ng-click="edit(currentJourney)">edit</button>
        </div>

          <div ng-show="currentJourney.id && currentJourney.editable">
            Title: <input type="text" ng-model="currentJourney.title"><br>
            Start Date: <input type="date" ng-model="currentJourney.start_date"><br>
            End Date: <input type="date" ng-model="currentJourney.end_date"><br>
            <button ng-show="currentJourney.editable" ng-click="updateJourney(currentJourney)">Update journey</button>
            <button ng-show="currentJourney.editable" ng-click="deleteJourney(currentJourney.id)">Delete journey</button>
<!--             <button ng-show="currentJourney.editable" ng-click="cancelEdit(currentJourney)">cancel</button>
 -->      </div>
      </div>

       <div class="my-journeys-feed">
        <!-- <div ng-show="currentJourney.id"> -->
          <ul ng-repeat="post in currentJourney.posts">
            <!-- <li>{{post.post_type}}</li> -->
            <li>
              <span class="post-title"ng-show="!post.editable">{{post.title}}</span>
              <input ng-show="post.editable" ng-model="post.title" type="text">
            </li>
            <!-- TEXT -->
            <li ng-show="post.post_type === 'text'">
              Body:
              <span ng-show="!post.editable">{{post.text}}</span>
              <textarea ng-show="post.editable" ng-model="post.text"></textarea>
            </li>
            <!-- VIDEO -->
           <div class="my-journeys-video">
            <li ng-show="post.post_type === 'video'">

              <div ng-show="!post.editable">
                <div id="{{post.video}}"></div>
              </div>
              <input ng-show="post.editable" ng-model="post.video" type="text">
            </li>
          </div>
            <!-- PHOTO -->
          <div class="my-journeys-picture">
            <li ng-show="post.post_type === 'photo'">
              <div ng-show="!post.editable"><img src="{{post.photo}}"></div>
              <input ng-show="post.editable" ng-model="post.photo" type="text">
            </li>
            <li ng-show="post.post_type !== 'text'">

              <span class="caption" ng-show="!post.editable">{{post.caption}}</span>
              <input ng-show="post.editable" ng-model="post.caption" type="text">
            </li>
            <li>
              <button id="edit-post" ng-show="!post.editable" ng-click="edit(post)">
                edit this post
              </button>
              <button ng-show="post.editable"
                      ng-click="updatePost(currentJourney.id, post)">
                submit
              </button>
              <button ng-show="post.editable"
                      ng-click="deletePost(currentJourney.id, post)">
                delete
              </button>
              <button ng-show="post.editable" ng-click="cancelEdit(post)">
                cancel
              </button>
            </li>
          </div>
          </ul>
       </div>

    </div>
  </div>
</div>
