<div class = "container">
  <div class="row">

    <div ng-controller="PostCtrl">
        <div ng>
          <h3 ng-click="getUserJourneys()">journey (click me)</h3>
          <select
            ng-model="currentJourneyId"
            ng-options="journey as journey.title for journey in journeys">
            <option>--</option>
          </select>
          {{newPost.post_type}}
        </div>
      <form>

        <label for="post_type">Post Type</label><br>
        <select ng-model="newPost.post_type">
          <option value="text">Text</option>
          <option value="photo">Photo</option>
          <option value="video">Video</option>
        </select>
        <label for="title">Title</label><br>
        <input type="text" ng-model="newPost.title">

        <div ng-if="newPost.post_type === 'text'">
          <h3>If text:</h3>
          <textarea ng-model="newPost.text" placeholder="type some shit"></textarea>
        </div>

        <div ng-if="newPost.post_type === 'photo'">
          <h3>If photo</h3>
          <input placeholder="photo url" type="text" ng-model="newPost.photo">
          <input placeholder="caption" type="text" ng-model="newPost.caption">
        </div>

        <div ng-if="newPost.post_type === 'video'">
          <h3>If video</h3>
          <input placeholder="video url" type="text" ng-model="newPost.video">
          <input placeholder="caption" type="text" ng-model="newPost.caption">
        </div>

        <button ng-click="createPost(currentJourneyId)">Create Post</button>

      </form>
    </div>

  </div>
</div>