<div class = "container new-post">
  <div class="row">
    <div class="small-8 small-centered medium-6 medium-center large-6 large-centered columns">
      <div ng-controller="PostCtrl">
          <div ng-init="getUserJourneys(true)">
            <h3>journey</h3>
            <div class="new-journey">
              <select
                ng-model="currentJourney"
                ng-options="journey as journey.title for journey in journeys">
              </select>
            </div>
          </div>
          <div class="new-journey-name"ng-show="currentJourney.title === 'Create a New Journey' && !currentJourney.id">
            <input class="journey-name"
              placeholder="name your journey"
              ng-model="newJourney.title"
              type="text"> <br>
            <input
              placeholder="pick a start date"
              ng-model="newJourney.start_date"
              type="date">
            <input
              placeholder="pick an end date"
              ng-model="newJourney.end_date"
              type="date">
          </div>
        <form>
          <div class="post-type">
          <label for="post_type">Post Type</label><br>
          <select ng-model="newPost.post_type">
            <option value="text">Text</option>
            <option value="photo">Photo</option>
            <option value="video">Video</option>
          </select>
          </div>
        <div class="post-properties">
          <div ng-show="newPost.post_type && currentJourney">
            <label for="title">Title</label><br>
            <input type="text" ng-model="newPost.title">
          </div>
          <!-- TEXT -->
          <div ng-show="newPost.post_type === 'text' && currentJourney">
            <h3>If text:</h3>
            <textarea ng-model="newPost.text" placeholder="type some shit"></textarea>
          </div>

          <!-- PHOTO -->
          <div ng-show="newPost.post_type === 'photo' && currentJourney">
            <h3>If photo</h3>
            <input placeholder="photo url" type="file" ng-file-select="onFileSelect($files)" ng-model="newPost.photo">
            <input placeholder="caption" type="text" ng-model="newPost.caption">
            <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class" ng-show="dropSupported">Drop Files Here</div>
            <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">Not supported</div>
          </div>

          <!-- VIDEO -->
          <div ng-show="newPost.post_type === 'video' && currentJourney">
            <h3>add a video.</h3>
            Would you like to
            <button ng-show="videoMethod==='record'" ng-click="setVideoMethod('url')">use an existing YouTube URL</button>
            <button ng-show="videoMethod==='url'" ng-click="setVideoMethod('record')">Record a video</button>
            instead?
            <!-- NEW VIDEO VIA URL -->
            <div ng-show="videoMethod === 'url'">
              <p>Paste your URL below:</p>
              <input placeholder="video url" type="text" ng-model="newPost.video">
            </div>
            <!-- NEW VIDEO VIA RECORD -->
            <div ng-hide="videoMethod === 'url'">
              <div id="widget"></div>
            <div ng-show="videoMethod">
              <p> Write a brief description of your video: </p>
              <input placeholder="caption" type="text" ng-model="newPost.caption">
            </div>
          </div>
        </div>
          <div ng-show="newPost.post_type && currentJourney">
            <!-- BUTTON IF EXISTING JOURNEY -->
            <button
              class="create-post"
              ng-show="currentJourney.id"
              ng-click="createPost(currentJourney.id, newPost)">
              <span class="arrow"><img src="/assets/blackarrow24.png" alt=""></span>
              Create Post
            </button>
            <!-- BUTTON IF NEW JOURNEY -->
            <button
              class="create-post"
              ng-show="currentJourney.id === undefined"
              ng-click="createJourney(newJourney, newPost)">
              <span class="arrow"><img src="/assets/blackarrow24.png" alt=""></span>
              Start Today
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
