<div class = "container">
  <div class="row">

    <div ng-controller="PostCtrl">
        <div ng-click="getUserJourneys(true)">
          <h3>journey (click me)</h3>
          <select
            ng-model="currentJourney"
            ng-options="journey as journey.title for journey in journeys">
          </select>
        </div>
        <div ng-if="currentJourney.title === 'Create a New Journey' && !currentJourney.id">
          <input
            placeholder="name your journey"
            ng-model="newJourney.title"
            type="text">
          <input
            placeholder="pick a start date"
            ng-model="newJourney.start_date"
            type="date">
          <input
            placeholder="pick an end date"
            ng-model="newJourney.end_date"
            type="date">
        </div>
      <form>

        <label for="post_type">Post Type</label><br>
        <select ng-model="newPost.post_type">
          <option value="text">Text</option>
          <option value="photo">Photo</option>
          <option value="video">Video</option>
        </select>
        <div ng-if="newPost.post_type && currentJourney">
          <label for="title">Title</label><br>
          <input type="text" ng-model="newPost.title">
        </div>

        <div ng-if="newPost.post_type === 'text' && currentJourney">
          <h3>If text:</h3>
          <textarea ng-model="newPost.text" placeholder="type some shit"></textarea>
        </div>

        <div ng-if="newPost.post_type === 'photo' && currentJourney">
          <h3>If photo</h3>
          <input placeholder="photo url" type="text" ng-model="newPost.photo">
          <input placeholder="caption" type="text" ng-model="newPost.caption">
        </div>

        <div ng-if="newPost.post_type === 'video' && currentJourney">
          <h3>If video</h3>
          <input placeholder="video url" type="text" ng-model="newPost.video">
          <input placeholder="caption" type="text" ng-model="newPost.caption">
        </div>

        <div ng-if="newPost.post_type && currentJourney">
          <button ng-if="currentJourney.id" ng-click="createPost(currentJourney.id)">Create Post</button>
          <button ng-if="currentJourney.id === undefined" ng-click="createJourney(newJourney)"> Create Journey + Post</button>
        </div>

      </form>
    </div>

  </div>
</div>