<div class="postcontent" ng-controller="PostContentCtrl">
	<div class="row">
		<div class="small-8 small-centered medium-6 medium-center large-6 large-centered columns">
			<div id="post-content">{{ message }}</div>
				{{user.name}} <br>
				{{ user.currentJourney.title}} <br>
				{{ user.postType.type }}
			
				<br>
				<form action="#" class='newPostPage'>
					<select id="journeyNames" data-ng-model="user.currentJourney" data-ng-options="a.name +' (' + a.title + ')' for a in journeys">
						
					</select>
				
	        <select data-ng-model="user.postType"
		        data-ng-options="a.name +' (' + a.type + ')' for a in post_options"
		      </select>
						<br>					
					<input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/> <br>

					
					<input type="submit" ngClick="Submit">
				</form>
			<!-- <content-item ng-repeat="item in content" content="item">
			{{item.data}}
			</content-item> -->
			 
		</div>
	</div>
</div>