/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation
 *= style
 *= require_tree .
 */

body {
	background-color: rgba(252,248,200, 1);
}

/* ///////NAVIGATION/////// */
.nav {
	width: 9%;
	height: 100%;
	margin-top: -20px;
	margin-left: 0;
	position: fixed;
	background-color: rgba(44,57,73, 1);
	border-top: 10px solid rgba(255,127,102, 1);
}

li {
	width: 100%;
	height: 60px;
	list-style-type: none;
	text-align: center;
	transition: ease-in-out .5s;
}

a {
	width: 100%;
	height: 100%;
	display: block;
	margin: 0;
}

li img {
	margin-top: 15px;
}

li#newPost {
	margin-top: 40px;
}

li#newPost:hover {
	box-shadow:10px 9px 53px #000000;
	transition: ease-in-out .75;
}

li#profile:hover {
	box-shadow:10px 9px 53px #000000;
	transition: ease-in-out .75;
}

li#newsfeed:hover {
	box-shadow:10px 9px 53px #000000;
	transition: ease-in-out .75;
}

li#postVideo:hover {
	box-shadow:10px 9px 53px #000000;
	transition: ease-in-out .75;
}

li#postText:hover {
	box-shadow: 10px 9px 53px #000000;
	transition: ease-in-out .75;
}

li#signup {
	margin-top: 0px;
}

li#signup:hover {
	box-shadow: 10px 9px 53px #000000;	
	transition: ease-in-out .75;
}

li#login:hover {
	box-shadow: 10px 9px 53px #000000;
	transition: ease-in-out .75;
}

li#logout:hover {
  box-shadow: 10px 9px 53px #000000;
  transition: ease-in-out .75;
}


/*//////PROFILE PAGE//////*/

.profilePage {
	text-align: center;
}



/*//////NEWS FEED//////*/

.newsFeed {
	width: 90%;
	height: 100%;
	margin-top: 0px;
	margin-left: 200px;

}

.journey {
	width: 80%;
	height: 300px;
	margin-bottom: 2em;
	background-color: rgba(44,57,73, .5);
}


/*////// NEW-POST FORM //////*/

.new-post {
	width: 75%;
	height: 100%;
	padding-top: 150px;
	color: #333;
  text-align: center;
  font-family: Arial, Helvetica;
}

.new-journey select {
	width: 300px;
	height: 50px;
	
}

.new-journey {
  font-size: 1.2em;
}

.square {
  width: .7em;
  height: .7em;
  margin: .5em;
  display: inline-block;
}

/* MY CUSTOMIZED DROPDOWN */
.new-journey {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px; /* demo only */
}

.new-journey select {
  background-color: rgba(255,127,102, 1);
  color: #fff;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;	
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; 
}

.new-journey::before,
.new-journey::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.post-type select {
	width: 300px;
	height: 50px;
}

.post-type {
  font-size: 1.2em;
}

.square {
  width: .7em;
  height: .7em;
  margin: .5em;
  display: inline-block;
}

.post-type {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: 5em;
}

.post-type select {
  background-color: rgba(255,127,102, 1);
  color: #fff;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;	
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; 
}

.post-type::before,
.post-type::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.post-type::after { 
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: .4em;
}

.post-type::before { 
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.new-journey-name {
	width: 300px;
	height: 40px;
	padding-left: 140px;
	font-size: 1.2em;
  text-align: center;
  font-family: Arial, Helvetica;
}

.post-properties {
	
}

button.create-post {
	width: 200px;
	height: 50px;
	padding-top: 5px;
	font-size: 1em;
	text-align: center;
  font-family: Arial, Helvetica;
  background-color: transparent;
  border: transparent;
  opacity: .8;
  transition: ease-in-out 1s;
}

button.create-post:hover {
	box-shadow: 10px 9px 53px #000000;
	transition: ease-in-out .75s;
}

.arrow {
	margin-left: 0px;
}



/* for IE*/
.js-fileapi-wrapper {
  display: inline-block;
  vertical-align: middle; 
}

button {
  padding: 1px 5px;
  font-size: smaller;
  margin: 0 3px; 
}

.ng-v {
  float: right;
}

.sel-file img {
  float: left;
  width: 18px;
  height: 18px;
  padding-right: 10px;
}

.sub {
  font-size: smaller;
  color: #777;
  padding-top: 5px;
  padding-left: 10px;
}*/

