.container-index {
	width: 100%;
	height: 100%;
	top: 0em;
}

.nav-index {
	width: 50px;
	height: inherit;
	margin-right: 1em;
	float: right;
}

li#login-index a {
	margin-top: 5%;
	color: white;
	position: relative;
	text-align: center;
	display: block;
}

.content {
	width: 100%;
	height: 37em;
	margin-top: -1.25em;
	background: transparent url(/assets/newadv_opt.png) center center no-repeat;
	background-size: cover;
}

.landing-event {
	width: 100%;
	height: 37em;
	margin-top: -1.25em;
	float: left;
	position: relative;
	overflow: hidden;
}

#landing-camera-link {
	width: 100%;
	height: 100%;
}

/* LANDING PAGE */
.landing-title {
	width: 550px;
	height: 200px;
	margin-left: -12%;
	margin-top: 13%;
}

.landing-title h2 {
	font-family: Lato;
	font-weight: 100;
	font-size: 5.5em;
	color: white;	
}

.landing-section {
	width: 100%;
}

.landing-section h3 {
	text-align: center;
	font-family: Lato, Arial;
	font-size: 1.7em;
	font-weight: 100;
	color: white;
	padding: 2px;
	background-color: #333;
	opacity: .7;
}

.landing-section span {
	font-weight: 300;
	color: rgba(255,127,102, 1);
}


/* FOOTER */

.footer-index {
	width: 100%;
	height: 10em;
	background-color: rgba(44,57,73, 1); 
	font-family: Lato;
	font-weight: 100;
	font-size: 1.25em;
	color: transparent;
	transition: ease-in-out .5s;
	padding-bottom: 100px;
}

a {
	width: 100%;
	height: 100%;
	display: block;
	margin: 0;
}

.video-index {
	width: 20%;
	height: 10.25em;
	padding-top: 3em;
	float: left;
	border-right: 1px solid white;
}

li#video-text:hover {
	color: white;
	transition: ease-in-out .5s;
	padding-bottom: 100px;
}

img#video-link {
	transition: ease-in-out .5s;
}

img#video-link:hover {
	transition: ease-in-out .5s;
	padding-top: 12px;
}

.picture-index {
	width: 20%;
	height: 10.25em;
	padding-top: 3em;
	float: left;
	border-right: 1px solid white;
	transition: ease-in-out .5s;
}

li#picture-text:hover {
	color: white;
	transition: ease-in-out .5s;
	padding-bottom: 100px;
}

img#picture-link {
	transition: ease-in-out .5s;
}

img#picture-link:hover {
	transition: ease-in-out .5s;
	padding-top: 12px;
}

.text-index {
	width: 20%;
	height: 10.25em;
	padding-top: 3em;
	float: left;
	border-right: 2px solid white;
}

li#text-text:hover {
	color: white;
	transition: ease-in-out .5s;
	padding-bottom: 100px;
}

img#text-link {
	transition: ease-in-out .5s;
}

img#text-link:hover {
	transition: ease-in-out .5s;
	padding-top: 10px;
}

.follow-index {
	width: 20%;
	height: 10.25em;
	padding-top: 3em;
	float: left;
	border-right: 2px solid white;
}

li#follow-text:hover {
	color: white;
	transition: ease-in-out .5s;
	padding-bottom: 100px;
}

img#follow-link {
	transition: ease-in-out .5s;
}

img#follow-link:hover {
	transition: ease-in-out .5s;
	padding-top: 10px;
}

.signup-index {
	width: 20%;
	height: 10.25em;
	padding-top: 3em;
	float: right;
}

li#signup-text:hover {
	color: white;
	transition: ease-in-out .5s;
	padding-bottom: 100px;
}

img#signup-link {
	transition: ease-in-out .5s;
}

img#signup-link:hover {
	transition: ease-in-out .5s;
	padding-top: 10px;
}

/* FOOTER-PARTIALS */

.footer-partial {
	width: 100%;
	height: 10em;
	background-color: rgba(44,57,73, 1); 
	font-family: Lato;
	font-weight: 100;
	font-size: 1.25em;
	color: transparent;
	transition: ease-in-out .5s;
	padding-bottom: 100px;
	position: relative;
	float: left;
}

/* INDEX-VIDEO */

.landing-video {
	width: 100%;
	height: 37em;
	margin-top: 0em;
	position: relative;
	float: left;
	background: transparent url(/assets/videoimage_opt.jpg) center center no-repeat;
	background-size: cover;
}

.title-video {
	width: 550px;
	height: 200px;
	margin-left: 10%;
	margin-top: 7%;
}

.title-video h2 a {
	font-family: Lato;
	font-weight: 100;
	font-size: 2.5em;
	color: #333;
	opacity: .7;	
}

.title-video a:hover {
	color: #333;
}

.video-section {
	width: 40%;
	margin-top: 2%;
	margin-left: 30%;
}

.video-section h3 {
	text-align: center;
	font-family: Lato, Arial;
	font-size: 1.7em;
	font-weight: 100;
	color: white;
	padding: 2px;
	background-color: #333;
	opacity: .7;
}

.video-section span {
	font-weight: 300;
	font-size: 1em;
	color: rgba(255,127,102, 1);
}

/* INDEX-PICTURE */
.landing-picture {
	width: 100%;
	height: 37em;
	margin-top: 0em;
	position: relative;
	float: left;
	background: transparent url(/assets/denovolanding_opt.jpg) center center no-repeat;
	background-size: cover;
}

.title-picture {
	width: 550px;
	height: 200px;
	margin-left: 10%;
	margin-top: 7%;
}

.title-picture h2 a {
	font-family: Lato;
	font-weight: 100;
	font-size: 2.5em;
	color: white;
	opacity: .7;	
}

.title-picture a:hover {
	color: #333;
}

.picture-section {
	width: 40%;
	margin-top: 2%;
	margin-left: 30%;
}

.picture-section h3 {
	text-align: center;
	font-family: Lato, Arial;
	font-size: 1.7em;
	font-weight: 100;
	color: white;
	padding: 20px 2px;
	background-color: #333;
	opacity: .7;
}

.picture-section span {
	font-weight: 300;
	font-size: 1em;
	color: rgba(255,127,102, 1);
}

.title-picture a:hover {
	color: white;
}

/* INDEX-TEXT */
.landing-text {
	width: 100%;
	height: 37em;
	margin-top: 0em;
	position: relative;
	float: left;
	background: transparent url(/assets/blogit_opt.jpg) center center no-repeat;
	background-size: cover;
}

.title-text {
	width: 550px;
	height: 200px;
	margin-left: 10%;
	margin-top: 7%;
}

.title-text h2 a {
	font-family: Lato;
	font-weight: 100;
	font-size: 2.5em;
	color: white;
	opacity: .7;	
}

.title-text a:hover {
	color: #333;
}

.text-section {
	width: 40%;
	margin-top: 2%;
	margin-left: 30%;
}

.text-section h3 {
	text-align: center;
	font-family: Lato, Arial;
	font-size: 1.7em;
	font-weight: 100;
	color: white;
	padding: 20px 2px;
	background-color: #333;
	opacity: .7;
}

.text-section span {
	font-weight: 300;
	font-size: 1em;
	color: rgba(255,127,102, 1);
}

.title-text a:hover {
	color: white;
}


/* INDEX-FOLLOW */

.landing-follow {
	width: 100%;
	height: 37em;
	margin-top: 0em;
	position: relative;
	float: left;
	background: transparent url(/assets/follow.jpg) center center no-repeat;
	background-size: cover;
}

.title {
	width: 550px;
	height: 200px;
	margin-left: 10%;
	margin-top: 7%;
}

.title h2 a {
	font-family: Lato;
	font-weight: 100;
	font-size: 2.5em;
	color: white;
	opacity: .7;	
}

.title a:hover {
	color: white;
}

.follow-section {
	width: 40%;
	margin-left: 30%;
}

.follow-section h3 {
	text-align: center;
	font-family: Lato, Arial;
	font-size: 1.7em;
	font-weight: 100;
	color: white;
	padding: 20px 2px;
	background-color: #333;
	opacity: .7;
}

.follow-section span {
	font-weight: 300;
	font-size: 1em;
	color: rgba(255,127,102, 1);
}

.random-follow {
	padding: 0px 2px; 
}






