/*////// PROFILE PAGE //////*/
.container-my-journeys {
	width: 91%;
	height: 100%;
	top: 0;
	float: right;
}

/* //////USER PROFILE HEADER////// */
.user-profile {
	width: 91%;
	height: 14em;
	float: right;
	top: -1.4em;
	margin-top: 0em;
	background-color: white;
	position: relative;
}

img#user-image {
	width: 8em;
	height: 8em;
	margin: 45px 0 0 100px;
	border-radius: 50%;
}

.user-name {
	margin: -130px 0 0 280px;
	font-family: Lato;
	font-weight: 300;
	font-size: 3em;
}

.journeys-count {
	margin: 30px 0 0 280px;
	font-family: Lato;
	font-weight: 400;
	font-size: 1.15em;
	color: rgba(255,127,102, 1);
}

span {
	margin-left: 20px;
	font-size: .85em;
	color: rgba(44,57,73, .6);
}

.profile-followers {
	margin: -17px 0 0 420px;
	font-family: Lato;
	font-weight: 400;
	font-size: 1.15em;
	color: rgba(255,127,102, 1);
}

/*//////PROFILE NAVBAR-LINKS//////*/

.profile-nav {
	width: 100%;
	height: 4em;
	float: left;
	margin-top: -1.33em;
	margin-left: 0em;
	background-color: white;
	border-top: 1px solid rgba(44,57,73, .3);
}

.profile-nav-link {
	width: 100%;
	height: 100%;
	text-align: center;
}

.profile-nav-link li {
	width: 10%;
	padding-top: 12px;
	margin-right: 3em;
	display: inline-block;
}

.profile-nav-link li, a {
	font-family: Lato, Arial;
	font-weight: 300;
	font-size: 1.15em;
	color: rgba(44,57,73, .6);
}

.profile-nav-link li:hover {
	width: 10%;
	border-bottom: 10px solid rgba(255,127,102, 1);
	transition: ease-in-out .3s;
}

.profile-nav-link a:hover {
	color: rgba(44,57,73, .6);
}


.fixedTop {
	width: 100%;
	top: 0px;
	position: fixed;
	z-index: 100;

}

/* ////// MY_DENOVO POST ////// */
/* my_denovo.html */

.container-mynovo {
	width: 91%;
	height: 100%;
	float: right;
	position: relative;
}

.novo-titles {
	width: 100%;
	height: 3em;
	margin-top: -1.15em;
	margin-left: -.17em;
}

#journey_select {
	width: 143px;
	height: 2em;
	text-align: center;
	font-size: 1.25em;
	font-family: Lato, Arial;
	font-weight: 100;
	color: white;
	background-color: rgba(255,127,102, 1);
	border: 1px solid transparent;
	outline: none;
}

#journey_select:hover {
	border-left: 10px solid white;
}

.caption span {
	font-family: Lato;
	font-weight: 400;
	font-size: 2em;
	color: rgba(44,57,73, 1);
}

.current-novo-title {
	width: 100%;
	height: 100%;
	margin-top: -.5em;
	float: left;
	position: relative;
}

.denovo-posts {
	width: 380px;
	height: 400px;
	margin: 0em 1em 1em 1em;
	padding: 10px;
	float: left;
	position: relative;
	background-color: white;
	font-size: 1.5em;
}

span#post-text{
	font-size: 1em;
	color: rgb(44,57,73);
}

.favorite-icon {
	margin-top: 100px;
	float: right;
	position: relative;
}







